---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">


   

   <h1 class="post-title"><a href="{{ post.link }}"> {{ post.title }} </a><a href="{{ post.url }}"><span class="link-arrow"> &rarr;</span></a></H1>
  
  <div style="float:left;width: 100px; margin-right: 30px;"><a href="{{ post.link }}"><img src="{{ post.image }}"><button class="button button2">Check Price</button></a>

</div>
 {{ post.content | smartify }}<BR>
 
  </article>
  
  <BR><BR>
  
  {% endfor %}
</div>



<div class="PageNavigation">
  {% if paginator.next_page %}
    <a class="prev" href="{{ paginator.next_page_path | prepend: site.baseurl }}">← Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="next" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer →</a>
  {% endif %}
</div>

