---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">


   
  <small style="color: #ccc;"> {{ post.date | date: "%-d %B %Y"}}</small>
 {{ post.content | smartify }}

	
  </article>
  {% endfor %}
</div>

<div class="PageNavigation">
  {% if paginator.next_page %}
    <a class="prev" href="{{ paginator.next_page_path | prepend: site.baseurl }}">← Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="next" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer →</a>
  {% endif %}
</div>

